*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Logo{
    width: 9rem;
    height: auto;
}

.Logo1 {
    width: 2.3rem;
    height: auto;
    background-color: #FACF39;
}

h1, h3{
    font-family: 'Bitter', serif;
}

.castlogo {
    width: 7rem;
    height: auto;
}

.castlink{
    font-family: 'Merriweather', serif;
}

.webseries {
    width: 11rem;
    height: auto;
}

.footericons{
    width: 1.5rem;
}

